.userInfo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}
.btn{
    margin-top: 10px;
    display: inline;
    outline: none;
    font-size: x-small;
    border-radius: 500px;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 30px;
    width: 100px;
    opacity: 1;
    border: none;
}

.btn:hover{
    background-color: #f44336;
    background: darken(#C06C84,10%);
    box-shadow: 0 4px 17px rgba(0,0,0,0.2);
    transform: translate3d(0, -2px, 0);
}