:host {
    display: block;
}
  /* Style the header with a grey background and some padding */
  .header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  border-radius: 7px;
  }

/* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 19px;
    line-height: 25px;
    font-family: Trebuchet MS, sans-serif;
    border-radius: 17px;
  }

  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 30px;
    font-family: Andale Mono, monospace;
    font-weight: bold;
    
  }

  .header-pb {
    position: relative;
    display: visible;
    float: right;
    max-width: 100px;
    max-height: 100px;
  }

  .header #profilePicture {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 17px;
    cursor: pointer;
  }

  /* Style the active/current link*/
  .header a.active {
    background-color: #3983AD;
    color: #ffffff;
  }

  .header a.loggedin {
    background-color: #3983AD;
    color: #ffffff;
  }

  /* Float the link section to the right */
  .header-right {
    display: visible;
    float: right;
  }

  .header-right input[type=text] {
    float: left;
    padding: 6px;
    border-radius: 17px;
    border: none;
    margin-right: 5px;
    margin-top: 9px;
    font-size: 17px;
  }

  .header-right button{
    float: left;
    padding: 6px;
    border: none;
    margin-right: 9px;
    margin-top: 9px;
    font-size: 17px;
    border-radius: 17px;
  }

  .header-right button:hover{
    background-color: #ddd;
    color: black;
    border-radius: 17px;
    cursor: pointer;
  }

  #form{
  float: left;
  }  

  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }

  .header-right input[type=text] {
    float: left;
    display: block;
    text-align: left;
    width: 60%;
    margin: 0;
    padding: 10px;
    position: relative;
    top: 10px;
  }

  .header-right button{
    float: none;
    border: none;
    padding: 14px;
    font-size: 17px;
    border-radius: 17px;
    position: relative;
    left: 30px;
    

  }
  
}