body{margin-top:20px;}

.contain {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 130px;
    grid-template-rows: 70px 210px auto;
    grid-template-areas: 
        "menubar menubar"
        "header header"
        "posts sidebar";
    padding: 40px;
    padding-bottom: 250px;
}

@media (min-width: 1200px) {
    .contain {
        grid-gap: 10px;
        grid-template-columns: auto 230px;
        grid-template-rows: 70px 210px auto;
        grid-template-areas: 
            "menubar menubar"
            "header header"
            "posts sidebar";
        padding-left: 180px;
        padding-right: 180px;
    }
}

@media (max-width: 800px) {
    .contain {
        grid-gap: 10px;
        grid-template-columns: auto 60px;
        grid-template-rows: 70px 210px auto;
        grid-template-areas: 
            "menubar menubar"
            "header header"
            "posts sidebar";
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 500px) {
    .contain {
        grid-gap: 10px;
        grid-template-columns: auto;
        grid-template-rows: 70px 210px auto 70px;
        grid-template-areas: 
            "menubar"
            "header"
            "posts"
            "sidebar";
        padding-left: 40px;
        padding-right: 40px;
    }
}

.menubar {
    grid-area: menubar;
}

.header {
    grid-area: header;
}

.btn {
    display: inline;
    outline: none;
    font-size: small;
    border-radius: 500px;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 30px;
    width: 100px;
    opacity: 1;
    border: none;
}

#like:hover{
    background-color: #66bb6a;
    background: darken(#C06C84,10%);
    box-shadow: 0 4px 17px rgba(0,0,0,0.2);
    transform: translate3d(0, -2px, 0);
  }

  #dislike:hover{
    background-color: #f44336;
    background: darken(#C06C84,10%);
    box-shadow: 0 4px 17px rgba(0,0,0,0.2);
    transform: translate3d(0, -2px, 0);
  }
  
  #blockPost:hover{
    background-color: #ffb74d;
    background: darken(#C06C84,10%);
    box-shadow: 0 4px 17px rgba(0,0,0,0.2);
    transform: translate3d(0, -2px, 0);
  }

.posts {
    grid-area: posts;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 130px;
    grid-template-rows: 170px 210px auto;
    grid-template-areas: 
        "main-post side"
        "post-comment post-comment"
        "comments comments";
}

.main-post {
    grid-area: main-post;
    padding: 20px;
}

.comments {
    grid-area: comments;
    padding-left: 30px;
    padding-right: 30px;
}

.post-comment {
    grid-area: post-comment;
    padding-left: 20px;
    padding-right: 0px;
}

.side {
    grid-area: side;
    background-color: green;
}

#posted{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

  
.head {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    padding: 0px;
    color: #3983AD;
}

.post-content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.comment-content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#post-comment {
    width: 70%;
}

#like {
    font-size: 13px;
    padding-left: 10px;
}

#dislike {
    font-size: 13px;
    padding-left: 10px;
}

#publish:hover {
    background-color: #66bb6a;
    background: darken(#C06C84,10%);
    box-shadow: 0 4px 17px rgba(0,0,0,0.2);
    transform: translate3d(0, -2px, 0);
}
#post-comment {
    text-align: start ;
    border-radius: 17px;
    border-width: 1px;
    height: 50px;
}

hr.mid-solid {
    border-top: 1px solid #bbb;
}